<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style2.css' />
  <title>Novo Álbum</title>
</head>
<body>
  <div class="container-fluid">
    <%- include('./partials/nav')%>
</div>
    <main class="container mt-4">
      <h1>Novo Álbum</h1>
      <div class="voltar">
        <a  href="/"><button class="btn btn-warning">Voltar</button></a>
      </div>
      <br>
    <form action="/cadastro" method="POST" class="card p-3">
      <div class="form-group">
          <label for="nome">Titulo</label>
          <input type="text" class="form-control" name="titulo" id="titulo" placeholder="titulo do Album">
      </div>
      <div class="form-group">
          <label for="id_artista">Artista</label>
          <input type="number" class="form-control" name="id_artista" id="id_artista" placeholder="informar o artista">
      </div>
      <div>
          <button class="btn btn-success" type="submit">Salvar</button>
      </div>
  </form>
 
  </main>
</main>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</body>
</html>
