.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    padding: 0 !important;
}
.navbar{
    padding: 10px;
}
.h1-wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212529;
    position: sticky;
    top: 0;
    color:#fff;
}
  